<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize our Meme</title>
    <script src="https://cdn.tailwindcss.com"></script>
 
</head>
<body>



    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center bg-blue-700">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
           
            </svg>
            <span class="ml-3 text-2xl text-bold text-gray-300">Memes Adda</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center  justify-center ">
            <a href="/" class="mr-8 hover:text-gray-900 text-white font-12 ">Home</a>
            <a href="/create/" class="mr-8 hover:text-gray-900 text-white">Create meme</a>
            <a href="/About/" class="mr-8 hover:text-gray-900 text-white">About</a>
          
          </nav>
          
        </div>
      </header>






















{% comment %} 
    <div class="coontainer">
        <div class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create/">Create Meme +</a></li>
                
                <li><a href="/About/">About</a></li>
            </ul>
        </nav>
    </div>
    </div>
</div>
 {% endcomment %}

{% block body %}


{% endblock body %}








   
    
</body>
</html>